.product-page {
  padding-top: 120px;
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

/* Кнопка сверху слева — компактная */
.back-btn {
  width: fit-content;
  background: transparent;
  border: 1px solid #5482ab;
  color: #5482ab;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.back-btn:hover {
  background: #5482ab;
  color: #ffffff;
}

/* Контент карточки */
.product-content {
  display: grid;
  grid-template-columns: 430px 1fr;
  gap: 40px;
  align-items: start;
}

/* Фото */
.product-img {
  background: #22272e;
  width: 100%;
  height: 520px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #7b8693;
  font-size: 20px;
}

/* Правая часть */
.product-title {
  font-size: 34px;
  margin-bottom: 14px;
  color: #e8ecf2;
}

.product-price {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 32px;
  color: #9aa2ad;
}

/* Кнопка добавить */
.product-btn {
  background: #5482ab;
  color: #ffffff;
  border: none;
  padding: 15px 35px;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.25s;
}

.product-btn:hover {
  background: #40698c;
}

/* Адаптив */
@media (max-width: 900px) {
  .product-content {
    grid-template-columns: 1fr;
  }

  .product-img {
    height: 420px;
  }
}
